USE [Test]
GO
/****** Object:  Table [dbo].[t_fileService_config]    Script Date: 2019/11/27 20:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_fileService_config](
	[Key] [nvarchar](256) NOT NULL,
	[Value] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_fileService_file]    Script Date: 2019/11/27 20:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_fileService_file](
	[FileKey] [char](172) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Checksum] [binary](32) NULL,
	[SiteId] [int] NOT NULL,
	[ExpireTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_fileService_fileContent]    Script Date: 2019/11/27 20:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_fileService_fileContent](
	[Checksum] [binary](32) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Content] [varbinary](max) NULL,
	[StorageType] [smallint] NOT NULL,
	[Link] [nvarchar](2048) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_fileService_fileLimit]    Script Date: 2019/11/27 20:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_fileService_fileLimit](
	[AppId] [nvarchar](1024) NOT NULL,
	[MaxSize] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[t_fileService_config] ([Key], [Value]) VALUES (N'S3Settings', N'{ "address": "https://donybucket6.s3-us-west-2.amazonaws.com"
, "apiKey": "AKIAWZX4KNG5TKKDD5FV"
, "bucket": "donybucket6"
}
')
INSERT [dbo].[t_fileService_config] ([Key], [Value]) VALUES (N'SharedSecret', N'1')
INSERT [dbo].[t_fileService_file] ([FileKey], [CreationTime], [Checksum], [SiteId], [ExpireTime]) VALUES (N'e7O6Tf33QNQAxfVYh-SzJzl8BBCzEbXzPGePq-VM5Gd3vLB1ypf9bZgm9mGIfRXphBndt_DVLhjQ1BImKtN9KgQf9hXJ1pp9f5XQjnGk-90dXQ_QzhMYJFV84QHsm8GSUwgkNPNreJ_wGQQB-5ka2eixOj3dWASVQaMP006ReSyQ', CAST(N'2019-11-22T06:34:53.123' AS DateTime), 0xDFC612F2D8595D24B418BB974193D94193B885ADFE0DA089CDF634904FD59F71, 0, NULL)
INSERT [dbo].[t_fileService_file] ([FileKey], [CreationTime], [Checksum], [SiteId], [ExpireTime]) VALUES (N'xApUkqFYtXgJQ_wQ0QW6iU8ofy7OFXPDc8Khrky7XbuZZVT5Ute0MYsSvjhIqRHI6DhpfWTcMd4_viRv1Wb7-w-8Dww8scrnncE6B3mmrJn08qaQrV3S1yUC3CwAjGo6oYNqQDHhZV16HNn4icV1ZIPRY--G9pVj26SmvW8W9NNQ', CAST(N'2019-11-22T06:37:10.927' AS DateTime), 0x2E0E14D0B6EDE74DF18D08118315A01593B885ADFE0DA089CDF634904FD59F71, 0, NULL)
INSERT [dbo].[t_fileService_file] ([FileKey], [CreationTime], [Checksum], [SiteId], [ExpireTime]) VALUES (N's_Rt4eP3Zpp-l0RBaMYjeXTq36d2l1lCnohUFx86myQQUdxqxzb0amccRA2741Oi_lpGo_aSRQWWIZIKmbdBHAQpXmquSadEfYKQpyL3FQS5t5jfUDcda_7dvQ1hGn2r7D_P9-6erDsYWUd8lfZVQ9-AsYELAxz8-wLkv_erI1Vg', CAST(N'2019-11-22T09:34:36.347' AS DateTime), 0x0217D825DF7F1BE85D4B61921083C2E693B885ADFE0DA089CDF634904FD59F71, 0, NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_t_fileService_file_fileKey]    Script Date: 2019/11/27 20:36:32 ******/
ALTER TABLE [dbo].[t_fileService_file] ADD  CONSTRAINT [PK_t_fileService_file_fileKey] PRIMARY KEY NONCLUSTERED 
(
	[FileKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_t_fileServicce_fileContent_checksum]    Script Date: 2019/11/27 20:36:32 ******/
ALTER TABLE [dbo].[t_fileService_fileContent] ADD  CONSTRAINT [PK_t_fileServicce_fileContent_checksum] PRIMARY KEY NONCLUSTERED 
(
	[Checksum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_fileService_config] ADD  CONSTRAINT [DF_t_fileService_config_Key]  DEFAULT ('') FOR [Key]
GO
ALTER TABLE [dbo].[t_fileService_config] ADD  CONSTRAINT [DF_t_fileService_config_Value]  DEFAULT ('') FOR [Value]
GO
ALTER TABLE [dbo].[t_fileService_file] ADD  CONSTRAINT [DF_t_fileService_file_CreationTime]  DEFAULT (getutcdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[t_fileService_fileContent] ADD  CONSTRAINT [DF_t_fileServicce_fileContent_StorageType]  DEFAULT ((0)) FOR [StorageType]
GO
ALTER TABLE [dbo].[t_fileService_fileLimit] ADD  CONSTRAINT [DF_t_fileService_fileLimit_AppId]  DEFAULT (N'‘’') FOR [AppId]
GO
ALTER TABLE [dbo].[t_fileService_fileLimit] ADD  CONSTRAINT [DF_t_fileService_fileLimit_MaxSize]  DEFAULT ((0)) FOR [MaxSize]
GO
